<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.singi.springboot3_scaffold.mapper.CityMapper">
    <resultMap id="city" type="City">
        <id property="id" column="id" />
        <association property="province" javaType="province">
            <id property="id" column="p_id" />
            <result property="name" column="p_name" />
            <result property="no" column="p_no" />
            <result property="createdAt" column="p_created_at" />
            <result property="updatedAt" column="p_updated_at" />
        </association>
    </resultMap>
    <select id="cityWithProince" resultMap="city">
        select c.*,p.id p_id,p.name p_name,p.no p_no,p.created_at p_created_at,p.updated_at p_updated_at from city c left join province p on p.id = c.province_id where c.id = #{id} limit 1
    </select>
</mapper>